body{
  height: 4000px;
}
ul{
  list-style: none;
}
.clear{
  clear: both;
}


.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(139, 187, 67, 0.5);
  opacity: 0;
  display: flex;
  transition: .5s;
  cursor: pointer;
}

.overlay-content{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 5;
 opacity: 0;
 transition: .5s;
 cursor: pointer;
  i{
    margin: 10px;
    font-size: 20px;
  }
}
.bg-lightx {
  position: absolute;
  z-index: 9999;
  width: 100%;
  background-color: transparent;
  a{
    color: white;
  }
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active>.nav-link{
  color: white;
  text-transform: uppercase;
  font-size: 14px;

}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active>.nav-link:hover{
  color: #ccc;
}
.navbar{
  li{
    a{
      color: white;
      font-weight: 500;
    }
  }
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(88, 92, 82,.5);
  background: rgba(0,0,0,.59);
}
.navbar-light .navbar-brand {
  color: white;
  font-size: 40px;
  font-weight: 500;
}
.navbar-light .navbar-brand:hover{
  color: white;
}

.navbar-nav li:last-child{
  background-color: blue;
  padding: 2px;
  border-radius: 16px;
  &:hover{
color: white;
background-color: rgb(93, 93, 214);
  }
}

#mainMenu nav>ul>li {
  float: left;
  border: 0;
  transition: all .3s ease;
  margin-left: 0px ;
  position: relative;
  font-size: 13px;
}
.carousel{
  position: relative;
  img{
    height: 550px;
  }
}
.carousel-caption{
  height: 70%;
  h5{
    font-size: 60px;
    font-weight: 800;
  }
p{
  font-size: 20px;
  margin-top: 40px;
}
button{
  width: 160px;
  position: relative;
border-radius: 30px;
text-transform: capitalize;
margin-top: 60px;
}
}

// start who we are

.row{
  padding: 0;
  margin: 0;
}

.text-us{
  padding: 70px 0px;
  h5{
    text-transform: capitalize;
  }
  h6{
    text-align: center;
    text-transform: capitalize;
  }
  span.dropcap{
    float: left;
    background-color: #007bff;
    font-size: 25px;
    color: white;
    font-weight: 600;
    margin-right: 23px;
    margin: 10px 10px 0 0;
    padding: 5px 15px;
    border-radius: 4px;
    margin-right: 29px;

  }
  p{
    line-height: 29px;
    font: {
      size: 20px;
    }
  }
  .bolts{
    display: block;
    i{
      margin: 3px;
    }
  }
}
.weAre .row .col-md-6:last-child{
  display: flex;
}
.row .col-md-6:last-child .text-us{
margin-top: 50px;
}


// start join us rules
.join-us{
  background-image: url(../img/7.jpg);
  height: 300px;
  margin: 45px 0;
  color: #fff;
  display: flex;
  align-items: center;
  p{
    padding: 20px 0;
  }
  h2,.h2{
    font-size: 30px;
    margin: auto;
    position: relative;
  }
  button{
    border: 2px solid #fff;
    color: white;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 15px;
    &:hover{
      color: #000;
      border: 2px solid #fff;
      background-color: #fff;
    }
  }
}
// end   join us rules

// start our work rules
.col-md-4,.col-md-6,.col-md-8,.col-md-12{
  padding: 0;
}
.our-work{
  h1{
    text-transform: capitalize;
    font-size: 45px;
  }
  .portof{
    .row{
      .col-md-6{
        padding: 0;
        img{
          width: 100%;
        }
      }
      .col-md-12{
        padding: 0;
        img{
          width: 100%;
        }
        
      }

    }
  }
  .col-md-4{
    .col-md-12{
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  .col-md-6:hover .overlay,.col-md-12:hover .overlay{
    opacity: 1;
  }
p{
  width: 55%;
}}
.our-work .portof .row .col-md-12 img{
  height: 80%;
}
.col-md-6:hover .overlay-content,.col-md-12:hover .overlay-content{
  opacity: 1;
}

// end   our work rules

// start counter rules
.counter{
  background-image: url(../img/5.jpg);
  height: 400px;
  color: #fff;
  .one-counter{
    margin-top: 160px;
    p{
      margin-top: 45px;

    }
    h2{
      font-size: 50px;
      font-weight: 600;
      position: relative;
      &::after{
        content: "";
        width: 52px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        bottom: -24px;
        left: 96px;
      }
    }
  }
}
// end   counter rules
// start    our services rules
.our-services{
  margin: 130px 0;
  h2{
    font-size: 45px;
    width: 40%;
    margin: auto;
    position: relative;
    &::after{
      content: "";
      width: 52px;
      height: 2px;
      background-color: #00f;
      position: absolute;
      top: 140px;
      width: 25%;
      left: 40%;

    }
  }
  > p{
    font-size: 20px;
    color: gray;
    width: 67%;
    margin: 60px auto;
  }
  .one-serv{
    .fa-rocket{
      font-size: 25px;
      border: 3px solid #000;
      border-radius: 50%;
      padding: 15px;
      transition: all ease-in-out .3s;
      margin: 15px;
      &:hover{
        padding: 25px;
        margin: 5px;
      }
    }
    h4{
      margin: 25px 0;
    }
    p{
      width: 80%;
      font-size: 18px;
      color: gray;
      margin: auto;
    }
  }
}
// end      our services rules

// start our team section 
.our-team{
  background-color: #f7f9fb;
  margin: 130px 0;
  padding: 70px 0;
  h2{
    font-size: 45px;
    width: 40%;
    margin: auto;
    position: relative;
    text-transform: uppercase;
    &::after{
      content: "";
      width: 52px;
      height: 2px;
      background-color: #00f;
      position: absolute;
      top: 100px;
      width: 25%;
      left: 40%;

    }

    }
   > p{
      margin-top: 0;
      margin-bottom: 1rem;
      margin-top: 178px 0;
      width: 70%;
      margin: auto;
      margin: 90px auto;
      color: gray;
      font-size: 18px;
  }
  img{
    border-radius: 50%;
    text-align: center;
    width: 200px;
    height: 200px;
  }
  h6{
    margin-top: 15px;
  }
  ul{
    display: flex;
    justify-content: center;
    padding: 0;
    li{
      list-style: none;
      float: left;
      margin: 3px;
      padding: 5px;
      border: 1px solid gray;
      border-radius: 50%;
      height: 26px;
      line-height: 8px;
      padding: 8px;
      height: 27px;
      background-color: #fff;
      font-size: 10px;
      cursor: pointer;
    }
  }
  .person{
    p:nth-child(3){
      color: gray;
    }
  }
  }

// end   our team section 

// start our company rules
.about-company{
  height: 800px;
  h2{
    text-transform: capitalize;
  }
  h5{
    text-transform: capitalize;
  }
  p{
    width: 85%;
    margin: auto;
    margin-top: 10px;
  }
  .our-progresses{
    h4{
      margin: 55px 0;
      text-transform: capitalize;
    }
 
    h6{
      float: left;
      text-transform: uppercase;
    }
    >span{
      float: right;
    }
    .progress{
      margin-bottom: 10px;
      height: 12px;

    }
    .p-progress-bar, .progress-bar{
      background-color: #2250fc;
    }
    p{
      color: gray;
      font-weight: 400;
    }
  }
  .subscript{
    border: 1px solid gray;
    padding: 10px;
    display: inline-block;
    width: 90%;
    margin: 5px 0;
    &:first-child{
      margin-top: 10px;
    }
    i{
      padding: 0 8px;
    }
    span{
      &:nth-child(2){
        float: right;
      }
    }
    p{
      padding: 6px 15px;
      font-size: 14px;
      color: #000;
    }
  
  }

  .blog{
    position: relative;
    margin: 10px 0;
    padding: 5px;
    border-radius: 8px;
    &::after{
      width: 70px;
      height: 1px;
      background-color: gray;
      content: "";
      position: absolute;
      width: 84%;
      top: 84px;
      left: 20px;
    }
    &:last-child::after{
      background-color: transparent;

    }
    img{
      width: 100px;
      float: left;
    }
    a{
      width: 90%;
      /* text-align: center; */
      text-decoration: none;
      color: #000;
      float: right;
      text-align: left;
    }
    .inform {
      text-align: center;
  }

  }
}

#accordion{
  i{
    padding-right: 10px;
  }
}

.btn-link{
  color: #000;
  &:hover{
    text-decoration: none;
    color: #000;
  }
}

// end   our company rules
// start get in touch section
.in-touch{
  padding: 100px 0;
  background-image: url(../img/background-4.png);
  background-size: cover;
  .our-data{
    margin: 20px 0;
    color: #212529;
  }
}
.socialforUs{
  i{
    width: 30px;
    height: 30px;
    background-color: red;
    line-height: 30px;
    text-align: center;
    margin-top: 12px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
  }
}

.form-split{
  margin-right: 20px;
  text-transform: capitalize;
  margin-bottom: 25px;
  input{
    width: 84%;
    border-radius: 2px;
    border: 1px solid gray;
    padding: 4px 10px ;

  }
  textarea{
    width: 92%;
    height: 200px;
  }

}

.in-touch button.btn.btn-primary {
  background: white;
  color: black;
  border: #e4dede 1px solid;
  transition: .5s;
  &:hover{
    background-color: #e4dede;
  }
}

.card-header:first-child{
  color: white;
 
}

.card-header{
  background-color: white;
  height: 60px;
}
// start get in touch section

// start subscribe section
.subscribe{
  height: 300px;
  background-color: #2250fc;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  .input-section{
    color: gray;
    height: 40px;
    display: flex;
    position: relative;
    background-color: red;
    border-radius: 5px;
    overflow: hidden;
    margin: 12px;
    >i , >span , >input{
      height: 100%;
    }
    input{
      width: 300px;
      padding-left: 10px;
    }
    i{
background-color: gray;
height: 100%;
color: #000;
line-height: 40px;
padding: 0 16px;

    }
    span{
background-color: white;
line-height: 40px;
padding: 0 20px;
    }
  }
}
// end   subscribe section

// start site map rules
.site-map{
  padding: 75px 0;
  background-color: #f8f9fa;
  ul{
    li{
      text-transform: capitalize;
      margin: 12px 0;
    }
    li:first-child{
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      margin-top: 0;
    }
    }
    button{
      text-transform: uppercase;
    }
  }
// end   site map rules

// start footer rules 
footer{
  background-color: #eff1f4;
  height: 100px;
  line-height: 100px;
p.lead{
  margin: 0;
  font-size: 16px;

}
}
// end   footer rules 

